.topnav {
  background-color: #333;
  overflow: hidden;
  margin-top :20px;
  
}

.topnav a {
  float: left;
  color:#b3d7ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color:#b3d7ff;
  color:grey;
}

.topnav a.active {
  background-color: #cce4ff;
  color: black;
}

.vid
{
 margin-bottom:50px;
 margin-right :1000px;
 
 
}
.para {
color:#ffbf80;
font-size : 30px;
font-family: Impact, Charcoal, sans-serif;
}
.aus{
	font-family: Impact, Charcoal, sans-serif;
	color:#ffbf80;
	font-size : 25px;
}